<% layout('layouts/boilerplate') %>

    <h1>Edit Campground</h1>

    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%= campground.title %> ">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="title" name="campground[location]" value="<%= campground.location %> ">
        </div>
        <button>Edit Campground</button>
    </form>

    <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>